#wrap{
  width: 100%;
  height: auto;
}




.manu_bar{
  width: 100%;
  height: 100px;
  background: #535353;
  display: flex;
}

.admintitle{
    width: 240px;
    height: auto;
    display: flex;

}

.admintitle p{

  color: #ffff;
  font-size: 80px;
  margin-top: -10px;


}

.admintitle div{
  margin-top: 25px;
  width: 250px;
  text-align: center;
  color: #ffff;
}


.adminManu{
  display: flex;
  width: 700px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 200px;

}

.config{
  margin-top : 25px;
  display: flex;

}


.config i{
  color : #ffff;
  font-size: 40px;


}

.config p{
  color : #ffff;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 7px;
}

.member{
margin-top: 25px;
display: flex;
margin-left: 7%;
}

.member i{
  color : #ffff;
  font-size: 40px;


}

.member p{
  color : #ffff;
  font-size: 20px;

  margin-left: 10px;
  margin-top: 7px;
}

.board{
  margin-top: 25px;
  display: flex;
  margin-left: 7%;
}

.board i{
  color : #ffff;
  font-size: 40px;

}

.board p{
  color : #ffff;
  font-size: 20px;

  margin-left: 10px;
  margin-top: 7px;
}























.side_content_box{
  width: 100%;
  height: auto;
  display: flex;

}




.side_box{
  width: 240px;
  height: auto;
  background: #535353;
  float: left;


}



.home_logout_box{
  width: 100%;
  height: 45px;
  display: flex;
  background: #eeeeee;
  margin-bottom: 30px;
  padding-top: 10px;

}

.Home{
margin-top: 4px;
margin-left: 25px;
margin-right: 25px;
color: #23539b;

}

.home_logout_box p{
  margin-top: -5px;
  font-size: 26px;
  color: #23539b;

}


.Logout{
  margin-top: 4px;
  margin-left: 25px;
  margin-right: 15px;
color: #23539b;

}

.side_title{
  width: 100%;
  height: 40px;
  background-color: #ffff;
  padding-top: 15px;
  text-align: center;
  border-bottom: 1px solid;
}

.subtitle_1{
  width: 100%;
  height: 40px;
  color: #ffff;
  padding-top: 15px;
  text-align: center;
  border-bottom: 1px solid;
}








.content_area{
  width: 1200px;
  height: auto;
  margin: auto;
}

.content_box{
  width: 100%;
  height: auto;




}

.content_title{
  width: 100%;
  padding-top: 3%;
  height: 5%;
  border-bottom: 1px solid;

}

.content_title div{
  width: 70%;
}

.content_body{
  width: 100%;
  height: auto;%;
  display: flex;
}

.content_body_left{
  width: 65%;
  height: auto;
}

.content_body_rigth{
  width: 30%;
  margin-left: 4%;
  height: auto;
}

.content_input{
  width: 100%;
  height: 7%;
}

.content_text{
  width: 100%;
  height: 170px;
  margin-top: 10px;
}

.content_img{
  width: 100%;
  height: 400px;
  margin-top: 10px;
}

.content_img1{
  width: 100%;
  height: 300px;
  margin-top: 10px;
}

.content_img img{
  width: 750px;
  height: 320px;
}


.pr_img{
  display: flex;
}
.pr_img img{
  margin-right: 45px;
  width: 220px;
  height: 320px;
}

.content_nuber{
  width: 100%;
  height: 7%;
}
