html{
	overflow: scroll;
}
/* 풀드롭메뉴 */
.full-drop {
  width: 100%;
  height: 600px;
  background-color: #fff;
  z-index: 9999;
  position: absolute;
  top: 40px;
  left: 0px;
  display: none;
  border-bottom: 2px solid #1b73f7;
}
.full-drop-container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.full-drop-container:first-child {
  border-left: 1px solid #f2f2f2;
}
.full-menu {
  width: 23%;
  height: 100%;
  border-right: 1px solid #f2f2f2;
}
.full-menu-title {
  width: 100%;
  height: 10%;
  display: flex;
  background-color: #1b73f7;
  justify-content: center;
  align-items: center;
}
.full-menu-title h3 {
  color: #fff;
}
.full-menu-contents {
  width: 100%;
  height: 90%;
  text-align: center;
}
.full-menu-contents ul {
  width: 100%;
  height: 98%;
  margin-top: 4%;
}
.full-menu-contents li {
  width: 100%;
  height: 12%;
  list-style: none;
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-menu-contents li a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}
.full-menu-contents li:hover a {
  color: #1b73f7;
  font-weight: bold;
}
.full-cancel {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.full-cancel i {
  font-size: 40px;
  color: #1b73f7;
}
/* 풀드롭메뉴 */

#header {
  width: 100%;
  height: 100px;
}

.header-container {
  width: 100%;
  height: 100%;
}

.menu-phone-drop{
	display: none;
}

/* 상단메뉴 */
.menu-top {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-top ul {
  margin-right: 5%;
}
.menu-top li{
  list-style: none;
  float: left;
  margin-right: 25px;
}
.menu-top a{
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
.menu-top li i:first-child {
  font-size: 20px;
  margin-right: -8px;
}
.menu-top li a:nth-child(2) {
  font-size: 11px;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  background-color: red;
  box-shadow: 0px 2px 2px #636161;
}
/* 상단메뉴 */

/* header */
.menu-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  background-color: #23539b;
}
.menu {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  display: flex;
}
.menu .menu-li {
  list-style: none;
  padding: 15px;
  display: inline-block;
  position: relative;
  font-size: 15px;
}
.menu li .menu-a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding-right: 30px;
  border-right: 1px solid;
}
.menu li a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding-right: 20px;
}
.menu-icon {
  width: 15%;
  height: 100%;
}
.menu-icon i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}
.menu-icon a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 10px;
}
/* 드롭메뉴 */
.menu li ul {
  display: none;
  position: absolute;
  top: 44px;
  background-color: rgba(0,0,0,0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu li ul li {
  list-style: none;
  padding: 15px;
}
.menu li ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.menu li:hover ul {
  display: block;
}
.menu li ul li:hover {
  background-color: #f2f2f2;
}
.menu li ul li:hover a {
  color: #000;
}
/* 드롭메뉴 */
/* 반응형 */
.menu-phone {
  display: none;
}

@media only screen and (max-width: 767px) {

  /* 상단메뉴 */
  .menu-top ul {
    margin-right: 0px;
  }
  .menu-top li{
    list-style: none;
    float: left;
    margin-right: 25px;
  }
  .menu-top a{
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
  }
  /* 상단메뉴 */
  .menu-bottom {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-end;
    background-color: #23539b;
  }
  .menu {
    width: 70%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .menu ul {
    display: none;
  }
  .menu .menu-li {
    list-style: none;
    padding: 15px;
    display: inline-block;
    position: relative;
    font-size: 15px;
  }
  .menu li .menu-a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-right: 30px;
    border-right: 1px solid;
  }
  .menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-right: 20px;
  }
  .menu-icon {
    width: 15%;
    height: 100%;
    display: none;
  }
  .menu-icon i {
    color: #fff;
    font-size: 30px;
    margin-top: 5px;
  }
  .menu-icon a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: 14px;
  }
  /* 드롭메뉴 */
  .menu li ul {
    display: none;
    position: absolute;
    top: 50px;
    background-color: rgba(0,0,0,0.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .menu li ul li {
    list-style: none;
    padding: 15px;
  }
  .menu li ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  .menu li:hover ul {
    display: block;
  }
  .menu li ul li:hover {
    background-color: #f2f2f2;
  }
  .menu li ul li:hover a {
    color: #000;
  }
  
  .menu-phone {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .phone-icon {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phone-icon i {
    font-size: 40px;
    color: #f2f2f2;
  }
  .phone-img {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .phone-img img {
    width: 23%;
    height: 85%;
    padding-top: 5px;
    padding-right: 5px;
  }

 
  .menu-phone-drop {
    width: 100%;    
    height: 100%;
    z-index: 999;
  }
  .menu-phone-drop > ul {
  	text-align:center;
    width: 100%;
    height: 100%;
  }
  .menu-phone-drop ul li {
  	border-bottom: 1px solid #dadada;
    width: 100%;
    height: 20%;
    list-style: none;
    display: inline-block;
  }
  .menu-phone-drop li:hover ul {
    display: block;
  }
  .menu-phone-drop > ul > li > a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #23539b;
    line-height: 60px;
  }
  .menu-phone-drop li ul {
    width: 100%;
    display: none;
    background-color: #f4f4f4;
    transition: height 4s;
  }
  .menu-phone-drop li ul li {
    width: 100%;
  }
  .menu-phone-drop li > ul > li > a {
    color: #000;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    padding: 1px;
    line-height: 35px;
  }
}
/* 반응형 */
/* header */