body {
  font-family: 'Nanum Gothic', sans-serif;
}
#wrap {
  width: 100%;
  height: 100%;
}
#header {
  width: 100%;
  height: 100px;
}
#contents {
  width: 100%;
}
#footer {
  width: 100%;
  height: 70px;
}

/* container */
.header-container {
  width: 100%;
  height: 100%;
}
.contents-container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
.container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}
/* container */



/* 상단메뉴 */
.menu-top {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-top ul {
  margin-right: 5%;
}
.menu-top li{
  list-style: none;
  float: left;
  margin-right: 25px;
}
.menu-top a{
  color: #000;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
/* 상단메뉴 */

/* header */
.menu-bottom {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: flex-end;
  background-color: #23539b;
}
.menu {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  display: flex;
}
.menu .menu-li {
  list-style: none;
  padding: 15px;
  display: inline-block;
  position: relative;
}
.menu li .menu-a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding-right: 30px;
  border-right: 1px solid;
}
.menu li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding-right: 20px;
}
.menu-icon {
  width: 15%;
  height: 100%;
}
.menu-icon i {
  color: #fff;
  font-size: 35px;
}
.menu-icon a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-weight: bold;
}
/* 드롭메뉴 */
.menu li ul {
  display: none;
  position: absolute;
  top: 50px;
  background-color: rgba(0,0,0,0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu li ul li {
  list-style: none;
  padding: 15px;
}
.menu li ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.menu li:hover ul {
  display: block;
}
.menu li ul li:hover {
  background-color: #f2f2f2;
}
.menu li ul li:hover a {
  color: #000;
}
/* 드롭메뉴 */
/* 반응형 */
.menu-phone {
  display: none;
}
.menu-phone-drop {
  display: none;
}
@media(max-width: 767px)  {
  /* 상단메뉴 */
  .menu-top ul {
    margin-right: 0px;
  }
  .menu-top li{
    list-style: none;
    float: left;
    margin-right: 25px;
  }
  .menu-top a{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }
  /* 상단메뉴 */
  .menu-bottom {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-end;
    background-color: #23539b;
  }
  .menu {
    width: 70%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .menu ul {
    display: none;
  }
  .menu .menu-li {
    list-style: none;
    padding: 15px;
    display: inline-block;
    position: relative;
  }
  .menu li .menu-a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-right: 30px;
    border-right: 1px solid;
  }
  .menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
  }
  .menu-icon {
    width: 15%;
    height: 100%;
    display: none;
  }
  .menu-icon i {
    color: #fff;
    font-size: 35px;
  }
  .menu-icon a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: bold;
  }
  /* 드롭메뉴 */
  .menu li ul {
    display: none;
    position: absolute;
    top: 50px;
    background-color: rgba(0,0,0,0.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .menu li ul li {
    list-style: none;
    padding: 15px;
  }
  .menu li ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  .menu li:hover ul {
    display: block;
  }
  .menu li ul li:hover {
    background-color: #f2f2f2;
  }
  .menu li ul li:hover a {
    color: #000;
  }
  .menu-phone {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .phone-icon {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phone-icon i {
    font-size: 40px;
    color: #f2f2f2;
  }
  .phone-img {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .phone-img img {
    width: 23%;
    height: 85%;
    padding-top: 5px;
    padding-right: 5px;
  }
  .menu-phone-drop {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999;
  }
  .menu-phone-drop > ul {
    width: 100%;
    height: 100%;
  }
  .menu-phone-drop ul li {
    width: 100%;
    height: 20%;
    list-style: none;
    display: inline-block;
  }
  .menu-phone-drop li:hover ul {
    display: block;
  }
  .menu-phone-drop > ul > li > a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #23539b;
    line-height: 60px;
  }
  .menu-phone-drop li ul {
    width: 100%;
    display: none;
    background-color: #f4f4f4;
    transition: height 4s;
  }
  .menu-phone-drop li ul li {
    width: 100%;
  }
  .menu-phone-drop li > ul > li > a {
    color: #000;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    padding: 1px;
    line-height: 35px;
  }
}
/* 반응형 */
/* header */



/* contents */
/* 좌측 메뉴 */
.side-professor {
  width: 15%;
  height: 100%;
  float: left;
}
.side-professor-img {
  width: 100%;
  height: 100%;
  text-align: center;
  
}
.side-professor-img img {
  width: 50%;
}
.side-professor-title {
  width: 100%;
  padding-top: 15px;
  text-align: center;
}
.side-professor-title h2 {
  border-bottom: 2px solid;
  padding: 15px 0px;
}
.side-professor-text {
  width: 100%;
  text-align: left;
}
.side-professor-kinds {
  width: 100%;
  display: flex;
  border-bottom: 2px solid #d8d8d8;
  padding: 10px 0px;
}
.side-text {
  width: 90%;
}
.side-text a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.side-icon {
  width: 10%;
}
.side-icon i {
  font-size: 18px;
}
.side-professor-kinds:hover {
  border-bottom: 2px solid #23539b;
}
.side-professor-kinds:hover  a {
  color: #23539b;
}
.side-professor-kinds:hover i {
  color: #23539b;
}
/* 좌측메뉴 */
.professor-contents {
  width: 63%;
  margin-left:25.5%;
  float: none;
 
}
.professor-top {
  width: 100%;
  height: 10%;
  padding-bottom: 40px;
}
.professor-top h2 {
}
.professor-center {
  width: 100%;
  height: 90%;
}
.professor-kinds {
  width: 100%;
  height: 10%;
}
.professor-kinds li {
  list-style: none;
  float: left;
}
.professor-kinds li .kinds {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  padding: 0px 15px;
  border-right: 1px solid #000;
  
}
.professor-kinds li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  padding: 0px 25px;
}
.professor-kinds li a:hover,
.professor-kinds li a:focus,
.professor-kinds li a:active,
.professor-kinds li a.active {
}

#kinds-select{
  border-bottom: 3px solid #23539b;
}

.professor-box {
  width: 100%;
  height: 90%;
  margin-bottom: 30px;
  padding: 40px 40px 40px 40px;
  border : 3px solid #d8d8d8;
  border-radius : 3px;
  box-shadow : 1px 3px 4px grey;
  font-size: 14px;
  line-height: 20px;
  letter-spacing : 1px;
  display: block;
  
}
.professor-box_doc {
  width: 100%;
  height: 90%;
  margin-bottom: 30px;
  padding: 40px 40px 40px 40px;
  border : 3px solid #d8d8d8;
  border-radius : 3px;
  box-shadow : 1px 3px 4px grey;
  font-size: 14px;
  line-height: 20px;
  letter-spacing : 1px;
  display: none;
  
}
.doc_text{    
	width: 100%;
    text-align: left;
    border-bottom: 1px solid #d8d8d8;
    padding: 0px 0px;
    font-size: 14px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    line-height: 20px;
    }

.doc_text_num{
    border: 1px solid #d8d8d8;
    background-color: #f2f2f2;
    font-weight: bold;	
    font-size: 14px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    line-height: 20px;
}

.professor-box th {
  text-align: left;
  font-size: 16px;
}
.professor-box_doc th {
  text-align: left;
  font-size: 16px;
}
@media (max-width: 767px) {
  .contents-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 40px;
  }
}
/* contents */


/* footer */
.footer-contents {
  width: 100%;
  height: 100%;
  float: left;
}
.footer-contents p {
  color: #BDBDBD;
  font-size: 14px;
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .footer-contents p {
    color: #BDBDBD;
    font-size: 10px;
  }
  /* 좌측 메뉴 */
  .side-professor {
    width: 15%;
    height: 100%;
    float: left;
    display: none;
  }
  .side-professor-img {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .side-professor-img img {
    width: 50%;
  }
  .side-professor-title {
    width: 100%;
    padding-top: 15px;
    text-align: center;
  }
  .side-professor-title h2 {
    border-bottom: 2px solid;
    padding: 15px 0px;
  }
  .side-professor-text {
    width: 100%;
    text-align: left;
  }
  .side-professor-kinds {
    width: 100%;
    display: flex;
    border-bottom: 2px solid #d8d8d8;
    padding: 10px 0px;
  }
  .side-text {
    width: 90%;
  }
  .side-text a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
  }
  .side-icon {
    width: 10%;
  }
  .side-icon i {
    font-size: 18px;
  }
  .side-professor-kinds:hover {
    border-bottom: 2px solid #23539b;
  }
  .side-professor-kinds:hover  a {
    color: #23539b;
  }
  .side-professor-kinds:hover i {
    color: #23539b;
  }
  /* 좌측메뉴 */
  .professor-contents {
    width: 70%;
    margin-left: 10.5%;
    float: none;
    margin: 0 auto;
  }
  .professor-top {
    width: 100%;
    height: 10%;
    padding-bottom: 40px;
  }
  .professor-top h2 {
  }
  .professor-center {
    width: 100%;
    height: 90%;
  }
  .professor-kinds {
    width: 100%;
    height: 10%;
  }
  .professor-kinds li {
    list-style: none;
    float: none;
    padding: 10px 0px;
  }
  .professor-kinds li .kinds {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    padding: 0px 15px;
    border: none;
  }
  .professor-kinds li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 15px;
  }
  .professor-kinds li a:hover,
  .professor-kinds li a:focus,
  .professor-kinds li a:active,
  .professor-kinds li a.active {
    border-bottom: 3px solid #23539b;
  }
  .professor-box {
    width: 100%;
    height: 90%;
    margin-bottom: 30px;
    padding: 70px 0px;
  }
  .professor-box th {
    text-align: left;
    font-size: 16px;
  }
  .professor-box td {
    font-size: 14px;
    line-height : 20px;
    letter-spacing : 1px;
    }
    
}
/* footer */