body {
  font-family: 'Nanum Gothic', sans-serif;
}
#wrap {
  width: 100%;
  height: 100%;
}
#header {
  width: 100%;
  height: 100px;
}
#contents {
  width: 100%;
}
#footer {
  width: 100%;
  height: 70px;
}

/* container */
.header-container {
  width: 100%;
  height: 100%;
}
.contents-container {
  width: 1280px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
}
.container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}
/* container */



/* 상단메뉴 */
.menu-top {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-top ul {
  margin-right: 5%;
}
.menu-top li{
  list-style: none;
  float: left;
  margin-right: 25px;
}
.menu-top a{
  color: #000;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
/* 상단메뉴 */

/* header */
.menu-bottom {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: flex-end;
  background-color: #23539b;
}
.menu {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  display: flex;
}
.menu .menu-li {
  list-style: none;
  padding: 15px;
  display: inline-block;
  position: relative;
}
.menu li .menu-a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding-right: 30px;
  border-right: 1px solid;
}
.menu li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding-right: 20px;
}
.menu-icon {
  width: 15%;
  height: 100%;
}
.menu-icon i {
  color: #fff;
  font-size: 35px;
}
.menu-icon a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-weight: bold;
}
/* 드롭메뉴 */
.menu li ul {
  display: none;
  position: absolute;
  top: 50px;
  background-color: rgba(0,0,0,0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu li ul li {
  list-style: none;
  padding: 15px;
}
.menu li ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.menu li:hover ul {
  display: block;
}
.menu li ul li:hover {
  background-color: #f2f2f2;
}
.menu li ul li:hover a {
  color: #000;
}
/* 드롭메뉴 */
/* 반응형 */
.menu-phone {
  display: none;
}
.menu-phone-drop {
  display: none;
}
@media(max-width: 767px)  {
  /* 상단메뉴 */
  .menu-top ul {
    margin-right: 0px;
  }
  .menu-top li{
    list-style: none;
    float: left;
    margin-right: 25px;
  }
  .menu-top a{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }
  /* 상단메뉴 */
  .menu-bottom {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-end;
    background-color: #23539b;
  }
  .menu {
    width: 70%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .menu ul {
    display: none;
  }
  .menu .menu-li {
    list-style: none;
    padding: 15px;
    display: inline-block;
    position: relative;
  }
  .menu li .menu-a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-right: 30px;
    border-right: 1px solid;
  }
  .menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
  }
  .menu-icon {
    width: 15%;
    height: 100%;
    display: none;
  }
  .menu-icon i {
    color: #fff;
    font-size: 35px;
  }
  .menu-icon a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: bold;
  }
  /* 드롭메뉴 */
  .menu li ul {
    display: none;
    position: absolute;
    top: 50px;
    background-color: rgba(0,0,0,0.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .menu li ul li {
    list-style: none;
    padding: 15px;
  }
  .menu li ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  .menu li:hover ul {
    display: block;
  }
  .menu li ul li:hover {
    background-color: #f2f2f2;
  }
  .menu li ul li:hover a {
    color: #000;
  }
  .menu-phone {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .phone-icon {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phone-icon i {
    font-size: 40px;
    color: #f2f2f2;
  }
  .phone-img {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .phone-img img {
    width: 23%;
    height: 85%;
    padding-top: 5px;
    padding-right: 5px;
  }
  .menu-phone-drop {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999;
  }
  .menu-phone-drop > ul {
    width: 100%;
    height: 100%;
  }
  .menu-phone-drop ul li {
    width: 100%;
    height: 20%;
    list-style: none;
    display: inline-block;
  }
  .menu-phone-drop li:hover ul {
    display: block;
  }
  .menu-phone-drop > ul > li > a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #23539b;
    line-height: 60px;
  }
  .menu-phone-drop li ul {
    width: 100%;
    display: none;
    background-color: #f4f4f4;
    transition: height 4s;
  }
  .menu-phone-drop li ul li {
    width: 100%;
  }
  .menu-phone-drop li > ul > li > a {
    color: #000;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    padding: 1px;
    line-height: 35px;
  }
}
/* 반응형 */
/* header */



/* contents */
/* 좌측 메뉴 */
.side-professor {
  width: 15%;
  height: 100%;
}
.side-professor-img {
  width: 100%;
  text-align: center;
  
}
.side-professor-img img {
  width: 50%;
}
.side-professor-title {
  width: 100%;
  padding-top: 15px;
  text-align: center;
}
.side-professor-title h2 {
  border-bottom: 2px solid;
  padding: 15px 0px;
}
.side-professor-text {
  width: 100%;
  text-align: left;
}
.side-professor-kinds {
  width: 100%;
  display: flex;
  border-bottom: 2px solid #d8d8d8;
  padding: 10px 0px;
}
.side-text {
  width: 90%;
}
.side-text a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.side-icon {
  width: 10%;
}
.side-icon i {
  font-size: 18px;
}
.side-professor-kinds:hover {
  border-bottom: 2px solid #23539b;
}
.side-professor-kinds:hover  a {
  color: #23539b;
}
.side-professor-kinds:hover i {
  color: #23539b;
}
/* 좌측메뉴 */
.map-content {
  width: 70%;
  height: 850px;
  margin-left: 10.5%;
  margin-bottom: 30px;
}
.map-title {
  width: 100%;
  height: 5%;
}
.map-box {
  width: 100%;
  height: 40%;
  display: flex;
}
.map-img {
  width: 80%;
  border: 1px solid #81BEF7;
}
.map-img img {
  width: 100%;
  height: 100%;
}
.map-traffic {
  width: 80%;
  height: 45%;
}

.map-subway {
  width: 100%;
  height: 25%;
  border-bottom: 2px dotted #d8d8d8;
}
.map-subway .subway-icon {
  width: 100%;
  padding: 15px 0px;
  display: flex;
}
.map-subway .subway-icon i {
  font-size: 20px;
  padding-right: 20px;
}
.map-subway .subway-icon p {
  font-size: 16px;
  font-weight: bold;
}
.map-subway .subway-text ul {
  padding-left: 70px;
}
.map-subway .subway-text li {
  font-size: 14px;
  font-weight: bold;
}
.map-bus {
  width: 100%;
  height: 50%;
  border-bottom: 2px dotted #d8d8d8;
}
.map-bus .bus-icon {
  width: 100%;
  padding: 15px 0px;
  display: flex;
}
.map-bus .bus-icon p {
  font-size: 16px;
  font-weight: bold;
}
.map-bus .bus-icon i {
  font-size: 20px;
  padding-right: 20px;
}

.map-bus .bus-text {
display: flex;
}




.map-bus .bus-text ul {
  padding-left: 70px;

}
.map-bus .bus-text li {
  font-size: 14px;
  font-weight: bold;

}
.map-bus .bus-text p {
  font-size: 14px;
  padding: 7px 70px;

}
.map-addr {
  width: 100%;
  height: 10%;
  margin-top: -70px;
  line-height: 24.5px;
  margin-left: 70px;
  font-size: 14px;
}
.map-addr p {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .contents-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    margin-bottom: 40px;
  }
  .side-professor {
    width: 15%;
    height: 100%;
    display: none;
  }
  .map-content {
    width: 90%;
    height: 850px;
    margin-left: 4%;
    margin-bottom: 30px;
    margin: 0 auto;
  }
  .map-title {
    width: 100%;
    height: 5%;
  }
  .map-box {
    width: 100%;
    height: 50%;
    display: flex;
  }
  .map-img {
    width: 100%;
    border: 1px solid #81BEF7;
  }
  .map-img img {
    width: 100%;
    height: 100%;
  }
  .map-traffic {
    width: 100%;
    height: 45%;
  }

  .map-subway {
    width: 100%;
    height: 25%;
    border-bottom: 2px dotted #d8d8d8;
  }
  .map-subway .subway-icon {
    width: 100%;
    padding: 15px 0px;
    display: flex;
  }
  .map-subway .subway-icon i {
    font-size: 20px;
    padding-right: 20px;
  }
  .map-subway .subway-icon p {
    font-size: 16px;
    font-weight: bold;
  }
  .map-subway .subway-text ul {
    padding-left: 70px;
    margin-left: -45px;
  }
  .map-subway .subway-text li {
    font-size: 14px;
    font-weight: bold;
  }
  .map-bus {
    width: 100%;
    height: 75%;
    border-bottom: 2px dotted #d8d8d8;
  }
  .map-bus .bus-icon {
    width: 100%;
    padding: 15px 0px;
    display: flex;
  }
  .map-bus .bus-icon p {
    font-size: 16px;
    font-weight: bold;
  }
  .map-bus .bus-icon i {
    font-size: 20px;
    padding-right: 20px;
  }
  
 .map-bus .bus-text {
  display: block;
  }

  .map-bus .bus-text ul {
    padding-left: 70px;
    margin-left: -45px;
  }
  .map-bus .bus-text li {
    font-size: 14px;
    font-weight: bold;
  }
  .map-bus .bus-text p {
    font-size: 13px;
    padding: 7px 70px;
    margin-left: -45px;
  }
  .map-addr {
    width: 100%;
    height: 10%;
    margin-top: 10px;
    line-height: 24.5px;
    margin-left: 25px;
    font-size: 13px;
  }
  .map-addr p {
    font-size: 12px;

    letter-spacing: 3px;
    line-height: 18px;
  }
}
/* contents */


/* footer */
#footer{
	margin-top: -100px;
}

.footer-contents {
  width: 100%;
  height: 100%;
}
.footer-contents p {
  color: #BDBDBD;
  font-size: 14px;
}
@media (max-width: 767px) {
	#footer{
	margin-top: 100px;
}
	
  .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .footer-contents p {
  color: #BDBDBD;
  font-size: 10px;
  }
}
/* footer */
